body,
html {
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: #141d25;
    font-weight: 600;
}

header {
    background-color: #c14dcc;
    color: #fff;
}

.info {
    background-color: #fff;
    color: #141d25;
}

.flex {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    gap: 3vh;
}

.box {
    cursor: pointer;
    width: calc(70vw / 3);
    height: calc(60vh / 3);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;       
}   


/****** from https://www.freecodecamp.org/news/make-it-blink-html-tutorial-how-to-use-the-blink-tag-with-code-examples/ ******/
.blink {
animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}